.menu {
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 100;
  
  display: grid;
  grid-template-columns: repeat(2, auto);  // 2 columns
  grid-template-rows: repeat(2, auto);     // 2 rows
  gap: 10px;  // space between buttons both horizontally and vertically
}

.menu-button {
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: black;
  border: 2px solid white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.4s;
  
  &:hover {
    background-color: #080808;
    color: #ffffff;
    cursor: pointer;
  }

  &.active {
    background-color: #080808;
    color: #ffffff;
  }
}